<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.DA.Entities" version="2.2.0" targetFramework="net45" />
  <package id="Common.DA.Implement" version="2.3.0" targetFramework="net45" />
  <package id="Common.DA.Interface" version="2.2.0" targetFramework="net45" />
  <package id="Common.DS" version="2.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
</packages>