<funcCorpUnity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--Receive定义-->
  <alias alias="IReceive" type="TPS.WeiXin.Extentions.IFunction.Corp.Receive.IReceive, TPS.WeiXin.Extentions.IFunction" />
  
  <!--Authenticate定义-->
  <alias alias="IOAuth" type="TPS.WeiXin.Extentions.IFunction.Corp.Authenticate.IOAuth, TPS.WeiXin.Extentions.IFunction" />
  
  
  <alias alias="CCustomMenu" type="TPS.WeiXin.Extentions.BaseCorpFunction.CCustomMenu, TPS.WeiXin.Extentions.BaseCorpFunction" />
  <alias alias="CReceive" type="TPS.WeiXin.Extentions.BaseCorpFunction.CReceive, TPS.WeiXin.Extentions.BaseCorpFunction" />
  <alias alias="CAuthenticate" type="TPS.WeiXin.Extentions.BaseCorpFunction.CAuthenticate, TPS.WeiXin.Extentions.BaseCorpFunction" />

  <container>
    <!--Receive映射-->
    <register type="IReceive" mapTo="CReceive" />
    <!--Authenticate映射-->
    <register type="IOAuth" mapTo="CAuthenticate" />
  </container>
</funcCorpUnity>
