<funcUnity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--公众号-->
  <!--SendMsg定义-->
  <alias alias="ITemplateMsg" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.ITemplateMsg, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ICustomerService" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.ICustomerService, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IReply" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.IReply, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGroupSend" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.IGroupSend, TPS.WeiXin.Extentions.IFunction" />
  
  <!--CustomMenu定义-->
  <alias alias="ICreate" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.ICreate, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IDelete" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.IDelete, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGetAll" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.IGetAll, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGetAllInfo" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.IGetAllInfo, TPS.WeiXin.Extentions.IFunction" />
  
  <!--AccountManage定义-->
  <alias alias="IGenerateQrcode" type="TPS.WeiXin.Extentions.IFunction.Normal.AccountManage.IGenerateQrcode, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ILong2ShortUrl" type="TPS.WeiXin.Extentions.IFunction.Normal.AccountManage.ILong2ShortUrl, TPS.WeiXin.Extentions.IFunction" />
  
  <!--UserManage定义-->
  <alias alias="IGetUserBaseInfo" type="TPS.WeiXin.Extentions.IFunction.Normal.UserManage.IGetUserBaseInfo, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGroup" type="TPS.WeiXin.Extentions.IFunction.Normal.UserManage.IGroup, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ISetRemark" type="TPS.WeiXin.Extentions.IFunction.Normal.UserManage.ISetRemark, TPS.WeiXin.Extentions.IFunction" />
  
  <!--Receive定义-->
  <alias alias="IReceive" type="TPS.WeiXin.Extentions.IFunction.Normal.Receive.IReceive, TPS.WeiXin.Extentions.IFunction" />
  
  <!--Authenticate定义-->
  <alias alias="IOAuth" type="TPS.WeiXin.Extentions.IFunction.Normal.Authenticate.IOAuth, TPS.WeiXin.Extentions.IFunction" />
  
  <!--JsSDK定义-->
  <alias alias="IJsSDK" type="TPS.WeiXin.Extentions.IFunction.Normal.JsSDK.IJsSDK, TPS.WeiXin.Extentions.IFunction" />
  
  
  <alias alias="BCustomMenu" type="TPS.WeiXin.Extentions.BaseFunction.BCustomMenu, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BSendMsg" type="TPS.WeiXin.Extentions.BaseFunction.BSendMsg, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BAccountManage" type="TPS.WeiXin.Extentions.BaseFunction.BAccountManage, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BUserManage" type="TPS.WeiXin.Extentions.BaseFunction.BUserManage, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BReceive" type="TPS.WeiXin.Extentions.BaseFunction.BReceive, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BAuthenticate" type="TPS.WeiXin.Extentions.BaseFunction.BAuthenticate, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BJsSDK" type="TPS.WeiXin.Extentions.BaseFunction.BJsSDK, TPS.WeiXin.Extentions.BaseFunction" />

  <!--企业号-->
  <!--Application定义-->
  <alias alias="IGetAll_App" type="TPS.WeiXin.Extentions.IFunction.Corp.Application.IGetAll, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGetByID_App" type="TPS.WeiXin.Extentions.IFunction.Corp.Application.IGetByID, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUpdate_App" type="TPS.WeiXin.Extentions.IFunction.Corp.Application.IUpdate, TPS.WeiXin.Extentions.IFunction" />

  <!--Receive定义-->
  <alias alias="IReceive_Corp" type="TPS.WeiXin.Extentions.IFunction.Corp.Receive.IReceive, TPS.WeiXin.Extentions.IFunction" />

  <!--Authenticate定义-->
  <alias alias="IConvert" type="TPS.WeiXin.Extentions.IFunction.Corp.Authenticate.IConvert, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IOAuth_Corp" type="TPS.WeiXin.Extentions.IFunction.Corp.Authenticate.IOAuth, TPS.WeiXin.Extentions.IFunction" />

  <!--Contacts定义-->
  <alias alias="IDepartmentCreate" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IDepartmentCreate, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IDepartmentDelete" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IDepartmentDelete, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IDepartmentGetAll" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IDepartmentGetAll, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IDepartmentUpdate" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IDepartmentUpdate, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ITagAddUser" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.ITagAddUser, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ITagCreate" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.ITagCreate, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ITagDelete" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.ITagDelete, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ITagDeleteUser" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.ITagDeleteUser, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ITagGetAll" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.ITagGetAll, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ITagGetUsers" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.ITagGetUsers, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ITagUpdate" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.ITagUpdate, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUserCreate" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IUserCreate, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUserDelete" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IUserDelete, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUserDeleteMany" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IUserDeleteMany, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUserGetByDepartment" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IUserGetByDepartment, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUserGetByID" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IUserGetByID, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUserInvite" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IUserInvite, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IUserUpdate" type="TPS.WeiXin.Extentions.IFunction.Corp.Contacts.IUserUpdate, TPS.WeiXin.Extentions.IFunction" />

  <!--CustomMenu定义-->
  <alias alias="ICreate_CM" type="TPS.WeiXin.Extentions.IFunction.Corp.CustomMenu.ICreate, TPS.WeiXin.Extentions.IFunction" />

  <!--SendMsg定义-->
  <alias alias="ISend" type="TPS.WeiXin.Extentions.IFunction.Corp.SendMsg.ISend, TPS.WeiXin.Extentions.IFunction" />
  
  <!--JsSDK定义-->
  <alias alias="IJsSDK_Corp" type="TPS.WeiXin.Extentions.IFunction.Corp.JsSDK.IJsSDK, TPS.WeiXin.Extentions.IFunction" />


  <alias alias="CCustomMenu" type="TPS.WeiXin.Extentions.BaseCorpFunction.CCustomMenu, TPS.WeiXin.Extentions.BaseCorpFunction" />
  <alias alias="CReceive" type="TPS.WeiXin.Extentions.BaseCorpFunction.CReceive, TPS.WeiXin.Extentions.BaseCorpFunction" />
  <alias alias="CAuthenticate" type="TPS.WeiXin.Extentions.BaseCorpFunction.CAuthenticate, TPS.WeiXin.Extentions.BaseCorpFunction" />
  <alias alias="CContacts" type="TPS.WeiXin.Extentions.BaseCorpFunction.CContacts, TPS.WeiXin.Extentions.BaseCorpFunction" />
  <alias alias="CSendMsg" type="TPS.WeiXin.Extentions.BaseCorpFunction.CSendMsg, TPS.WeiXin.Extentions.BaseCorpFunction" />
  <alias alias="CJsSDK" type="TPS.WeiXin.Extentions.BaseCorpFunction.CJsSDK, TPS.WeiXin.Extentions.BaseCorpFunction" />
  
  
  <container>
    <!--公众号-->
    <!--Receive映射-->
    <register type="IReceive" mapTo="BReceive" />
    <!--SendMsg映射-->
    <register type="ITemplateMsg" mapTo="BSendMsg" />
    <!--CustomMenu映射-->
    <register type="ICreate" mapTo="BCustomMenu" />
    <!--UserManage映射-->
    <register type="IGroup" mapTo="BUserManage" />
    <register type="IGetUserBaseInfo" mapTo="BUserManage" />
    <!--Authenticate映射-->
    <register type="IOAuth" mapTo="BAuthenticate" />
    <!--JsSDK映射-->
    <register type="IJsSDK" mapTo="BJsSDK" />


    <!--企业号-->
    <!--Receive映射-->
    <register type="IReceive_Corp" mapTo="CReceive" />
    <!--Authenticate映射-->
    <register type="IOAuth_Corp" mapTo="CAuthenticate" />
    <!--SendMsg映射-->
    <register type="ISend" mapTo="CSendMsg" />
    <!--Contacts映射-->
    <register type="IUserUpdate" mapTo="CContacts" />
    <register type="IUserInvite" mapTo="CContacts" />
    <register type="IUserGetByID" mapTo="CContacts" />
    <register type="IUserGetByDepartment" mapTo="CContacts" />
    <!--<register type="IUserDeleteMany" mapTo="CContacts" />-->
    <register type="IUserDelete" mapTo="CContacts" />
    <register type="IUserCreate" mapTo="CContacts" />
    <!--<register type="ITagUpdate" mapTo="CContacts" />
    <register type="ITagGetUsers" mapTo="CContacts" />
    <register type="ITagGetAll" mapTo="CContacts" />
    <register type="ITagDeleteUser" mapTo="CContacts" />
    <register type="ITagDelete" mapTo="CContacts" />
    <register type="ITagCreate" mapTo="CContacts" />
    <register type="ITagAddUser" mapTo="CContacts" />-->
    <!--<register type="IDepartmentUpdate" mapTo="CContacts" />
    <register type="IDepartmentGetAll" mapTo="CContacts" />
    <register type="IDepartmentDelete" mapTo="CContacts" />
    <register type="IDepartmentCreate" mapTo="CContacts" />-->
    <!--JsSDK映射-->
    <register type="IJsSDK_Corp" mapTo="CJsSDK" />
  </container>
</funcUnity>
