<funcUnity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--SendMsg定义-->
  <alias alias="ITemplateMsg" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.ITemplateMsg, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ICustomerService" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.ICustomerService, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IReply" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.IReply, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGroupSend" type="TPS.WeiXin.Extentions.IFunction.Normal.SendMsg.IGroupSend, TPS.WeiXin.Extentions.IFunction" />
  
  <!--CustomMenu定义-->
  <alias alias="ICreate" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.ICreate, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IDelete" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.IDelete, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGetAll" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.IGetAll, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGetAllInfo" type="TPS.WeiXin.Extentions.IFunction.Normal.CustomMenu.IGetAllInfo, TPS.WeiXin.Extentions.IFunction" />
  
  <!--AccountManage定义-->
  <alias alias="IGenerateQrcode" type="TPS.WeiXin.Extentions.IFunction.Normal.AccountManage.IGenerateQrcode, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ILong2ShortUrl" type="TPS.WeiXin.Extentions.IFunction.Normal.AccountManage.ILong2ShortUrl, TPS.WeiXin.Extentions.IFunction" />
  
  <!--UserManage定义-->
  <alias alias="IGetUserBaseInfo" type="TPS.WeiXin.Extentions.IFunction.Normal.UserManage.IGetUserBaseInfo, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="IGroup" type="TPS.WeiXin.Extentions.IFunction.Normal.UserManage.IGroup, TPS.WeiXin.Extentions.IFunction" />
  <alias alias="ISetRemark" type="TPS.WeiXin.Extentions.IFunction.Normal.UserManage.ISetRemark, TPS.WeiXin.Extentions.IFunction" />
  
  <!--Receive定义-->
  <alias alias="IReceive" type="TPS.WeiXin.Extentions.IFunction.Normal.Receive.IReceive, TPS.WeiXin.Extentions.IFunction" />
  
  <!--Authenticate定义-->
  <alias alias="IOAuth" type="TPS.WeiXin.Extentions.IFunction.Normal.Authenticate.IOAuth, TPS.WeiXin.Extentions.IFunction" />
  
  
  <alias alias="BCustomMenu" type="TPS.WeiXin.Extentions.BaseFunction.BCustomMenu, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BSendMsg" type="TPS.WeiXin.Extentions.BaseFunction.BSendMsg, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BAccountManage" type="TPS.WeiXin.Extentions.BaseFunction.BAccountManage, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BUserManage" type="TPS.WeiXin.Extentions.BaseFunction.BUserManage, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BReceive" type="TPS.WeiXin.Extentions.BaseFunction.BReceive, TPS.WeiXin.Extentions.BaseFunction" />
  <alias alias="BAuthenticate" type="TPS.WeiXin.Extentions.BaseFunction.BAuthenticate, TPS.WeiXin.Extentions.BaseFunction" />

  <container>
    <!--Receive映射-->
    <register type="IReceive" mapTo="BReceive" />
    <!--SendMsg映射-->
    <register type="ITemplateMsg" mapTo="BSendMsg" />
    <!--CustomMenu映射-->
    <register type="ICreate" mapTo="BCustomMenu" />
    <!--UserManage映射-->
    <register type="IGroup" mapTo="BUserManage" />
    <register type="IGetUserBaseInfo" mapTo="BUserManage" />
    <!--Authenticate映射-->
    <register type="IOAuth" mapTo="BAuthenticate" />
  </container>
</funcUnity>
