<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.DA.Entities" version="2.2.0" targetFramework="net45" />
  <package id="Common.DA.Implement" version="2.3.0" targetFramework="net45" />
  <package id="Common.DA.Interface" version="2.2.0" targetFramework="net45" />
  <package id="Common.DS" version="2.1.0" targetFramework="net45" />
  <package id="Common.Helper" version="2.0.2" targetFramework="net45" />
  <package id="Common.Log" version="2.1.0" targetFramework="net45" />
  <package id="Common.SVC.MCService" version="2.1.0" targetFramework="net45" />
  <package id="Common.SVC.WCFExt" version="2.1.0" targetFramework="net45" />
  <package id="DQ" version="1.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="IOC" version="2.1.0" targetFramework="net45" />
  <package id="L4N" version="1.2.13" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NJson" version="6.0.6" targetFramework="net45" />
</packages>