/*
	@name: base.css
	@date: 2015-6-17
	@Author: caihui
*/

/* ============== reset ================= */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{color:#707070;background:#ffc2d9;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
body{font:12px/1.5 "microsoft yahei",Arial,"宋体","Arial Narrow",HELVETICA;color:#535353;background:#fff;}
/* 重设 HTML5 标签 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ol,ul{list-style:none;}
fieldset,img{border:0;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:500;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
a{text-decoration:none;outline:none;color:#535353;}
input, textarea {outline: medium none; vertical-align:middle;}
a:hover{text-decoration:underline;}
table{border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align */
th{text-align:inherit;}
textarea,select{vertical-align:middle;}
.clearfix:after,.w:after,.w2:after {clear:both;display:block;height:0;font-size:0;content:".";visibility:hidden;}
.clearfix{zoom:1;}
.w {width:1120px;margin:auto;zoom:1;}
.w2 {max-width:1120px;margin:auto;zoom:1;_width:1120px;}
.s1,a.s1 {color:#f7356e;}
.s2,a.s2 {color:#e86197;}
.s3,a.s3 {color:#9f9f9f;}
.s4,a.s4 {color:#e96b7a;}
.s5,a.s5 {color:#eb5787;}
.s6,a.s6 {color:#1a8ef9;}
.s7,a.s7 {color:#ff6462;}
.hr20 {height:20px;font-size:0;clear:both;}
.mb20 {margin-bottom:20px;}
.mb10 {margin-bottom:10px;}
.error {color:#F90;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt10 {margin-top:10px;}
.p16 {font-size:16px;}
.f14 {font-size:14px;}
.f12 {font-size:12px;}
.f18 {font-size:18px;}
.f24 {font-size:24px;}
.fl {float:left;}
.fr {float:right;}




.form-box-one {padding-top:0px;zoom:1; position:relative;padding-bottom:0px;}
.form-box-one:after,.form-box-two:after {clear:both;display:block;height:0;font-size:0;content:".";visibility:hidden;}

.form-item {padding-bottom:15px;}
.form-box {padding:0px 100px 80px 290px;font-size:24px;color:#412210;}
.form-tag {width:120px;float:left;}
.form-con {float:left;width:250px;}
.form-i { border:#412210 1px solid; border-radius:10px;width:100%;display:inline-block;line-height:1.4;font-size:24px;padding:0px 15px;}
.must {color:red;}
.form-item:after {clear:both;display:block;height:0;font-size:0;content:".";visibility:hidden;}

.opening-form {background:url(../img/pc/opening-item7.png) no-repeat center top;height:370px;overflow:hidden;}
.type-item {float:left;width:50%;}
.form-box-two .form-item {width:100%;}
.form-box-two .form-con {width:500px;float:left;}
.type-item label {display:inline-block; cursor:pointer;}
.form-center {padding-top:20px;}
.form-center .s1 {font-size:36px;}
.form-btn {display:inline-block;line-height:1.6;font-size:28px;color:#fff;background:#e8456d; border-radius:10px;padding:0px 20px; border:0; font-family:"microsoft yahei"; text-decoration:none;}
a.form-btn:hover {background:#C30;text-decoration:none;}
.bm-head {background:#e8446c url(../images/enroll_pc/bm-head.png) no-repeat;height:126px;}
.form-box-two h6 {padding-left:10px;}
.form-code {text-align:center; border-bottom:#6f584b 2px dashed;overflow:hidden;zoom:1;}
.bm-tit {text-align:center; border-bottom:#6f584b 2px dashed;margin-bottom:30px;}
.form-bottom {background:url(../images/enroll_pc/bm-bottom-1.png) no-repeat center;height:119px;}
.bm-form {background:url(../images/enroll_pc/bm-bg.png) center top;}
.form-code-item {float:left;}

/*toast*/
.toast-mask {position:fixed;width:100%;height:100%;z-index:1000;top:0;left:0;background:rgba(0,0,0,0.2);}
.toast-body {position:fixed;z-index:1001;max-width:80%; text-align:center;background: rgba(40, 40, 40, 1);border-radius:5px;/*no*/color:#fff; top:50%;left:50%; transform:translate(-50%,-50%); box-sizing:border-box;padding:20px 20px;}
.icon-success {display:inline-block;width:42px;height:33px;background:url(../img/wap/icon-success.png) no-repeat;background-size:100% auto;}
.toast-body p {font-size:14px;/*px*/padding:0px 10px;white-space:nowrap}


/* iCheck plugin Square skin, red
----------------------------------- */
.icheckbox_square-red,
.iradio_square-red {
    display: inline-block;
    *display: inline;
    vertical-align: -3px;
    margin: 0;
    padding: 0;
	margin-right:7px;
    width: 22px;/*no*/
    height: 22px;/*no*/
    background: url(../images/red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-red {
    background-position: -24px 0;/*no*/
	 background-color:#fff;
}
    .icheckbox_square-red.hover {
        background-position: -24px 0;/*no*/
    }
    .icheckbox_square-red.checked {
        background-position: -48px 0;/*no*/
    }
    .icheckbox_square-red.disabled {
        ackground-position: -72px 0;/*no*/
        cursor: default;
    }
    .icheckbox_square-red.checked.disabled {
        background-position: -96px 0;/*no*/
    }

.iradio_square-red {
    background-position: -120px 0;/*no*/
}
    .iradio_square-red.hover {
        background-position: -144px 0;/*no*/
    }
    .iradio_square-red.checked {
        background-position: -168px 0;/*no*/
    }
    .iradio_square-red.disabled {
        background-position: -192px 0;/*no*/
        cursor: default;
    }
    .iradio_square-red.checked.disabled {
        background-position: -216px 0;/*no*/
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-red,
    .iradio_square-red {
        background-image: url(../images/red@2x.png);
        -webkit-background-size: 240px 24px;/*no*/
        background-size: 240px 24px;/*no*/
    }
}



