<eventlistener>
  <events key="0" accountid="E8953EB2-50F9-416A-9B5D-C621D160DF7D" eventname="IWeiXinClickEvent" type="TPS.WeiXin.Common.Model.DefaultClickEvent" assembly="TPS.WeiXin.Common.Model"/>
  <events key="1" accountid="9A196EDC-BDF5-498F-B81D-1A6EBE34A174" eventname="IWeiXinClickEvent" type="TPS.WeiXin.Common.Model.DefaultClickEvent" assembly="TPS.WeiXin.Common.Model"/>
  <events key="2" accountid="E8953EB2-50F9-416A-9B5D-C621D160DF7D" eventname="IWeiXinSubscribeEvent" type="TPS.WeiXin.Common.Model.DefaultSubscribeEvent" assembly="TPS.WeiXin.Common.Model"/>
  <events key="3" accountid="9A196EDC-BDF5-498F-B81D-1A6EBE34A174" eventname="IWeiXinSubscribeEvent" type="TPS.WeiXin.Common.Model.DefaultSubscribeEvent" assembly="TPS.WeiXin.Common.Model"/>
</eventlistener>