<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="WeiXinEntities" connectionString="metadata=res://*/WeiXinEntitiesModel.csdl|res://*/WeiXinEntitiesModel.ssdl|res://*/WeiXinEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TPS.WeiXin;user id=sa;password=sa@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>
</configuration>