<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFileName" value="..\WeiXinEntitiesModel.edmx"/>
    <add key="OutputFileName" value="..\WeiXinEntitiesModel.edmx"/>
    <add key="XmlnsNameSpaces" value="http://schemas.microsoft.com/ado/2009/11/edm"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="data source=192.168.1.99;initial catalog=TPS.WeiXin;user id=sa;password=sa@123"/>
  </connectionStrings>
</configuration>